html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Futurabook';
	font-weight: 400;
	font-size: 20px;
	color: #282828;
	line-height: 1.2;
 }

body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
a,
button{
	transition: all .4s ease-in;
}
a:hover,
button:hover{
	transition: all .4s ease-in;
}
.title{
	margin-bottom: 40px;
	font-size: 36px;
	text-align: center;
	font-weight: 400;
}
.btn{
	display: block;
	max-width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-family: 'Futurademi';
	background: #28859f;
	color: #fff;
	border-radius: 20px;
	border: none;
}
.btn:hover{
	background: #014e64;
}