.nav-icon{
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    border-radius: 15px;
    z-index: 8;
}
.nav-icon__middle{
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #282828;
    border-radius: 8px;
}
.nav-icon__middle::before,
.nav-icon__middle::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #282828;
    border-radius: 8px;
}
.nav-icon__middle::before{
    width: 25px;
}
.nav-icon__middle::before{
    top: 8px;
    transition: all .2s ease-in;
}
.nav-icon__middle::after{
    bottom: 8px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;
    width: 30px;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in; 
}

@media(max-width: 1200px){
    .menu__list{
        gap: 25px;
    }
    .header-box{
        gap: 10px;
    }
    .search-form{
        width: 175px;
    }
    .logo{
        width: 170px;
    }
}

@media(max-width: 1000px){
    .basket__text{
        display: none;
    }
    .logo{
        width: 130px;
    }
    .search-form{
        width: 140px;
        height: 35px;
        line-height: 30px;
    }
    .search-form__input,
    .search-form__input::placeholder{
        font-size: 16px;
    }
    .search-form__input{
        padding-left: 30px;
    }
    .search::before{
        top: 9px;
    }
}


@media(max-width: 870px){
    .nav-icon{
        position: relative;
        display: flex;
        z-index: 8;
        
    }
    .menu{
        margin-top: 70px;
        position: fixed;
        width: 80%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: #fff;
        left: 0;
        top: 0;
        color: #F7F7FF;
        z-index: 2;
        border-radius: 0px;
        transform: translateX(-200%);
        transition: all .5s ease-in;
        box-shadow: 0 10px 25px 0 rgba(37, 37, 37, 0.11);
    }
    
    .menu__list{
        margin:20px 0 0 35px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
  
    .menu li a{
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }
    .menu li{
        margin-bottom: 10px;
    }
    .menu.nav--active{
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }
    .sub-box{
        padding: 15px;
        flex-direction: column;
        gap: 20px;
    }
    .sub-box__item-title{
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .sub-menu li{
        margin-bottom: 10px;
    }
    .sub-box__item a.sub-box__item-mail, 
    .sub-box__item a.sub-box__item-phone{
        text-align: left;
    }
    .search-form,
    .search::before{
        display: none;
    }
    .search-mobile-btn{
        display: block;
    }
    .header-wrapper{
        gap: 15px;
    }
    .search-block .search-form,
    .search-block.search::before{
        display: block;
        width: 100%;
    }
    .search-block .search-mobile-btn{
        display: none;
    }
    .basket-img{
        margin-right: 5px;
    }
    .header-box{
        position: relative;
    }
    .search.search-block{
        display: flex;
        align-items: center;
        position: absolute;
        width: 103%;
        top: -5px;
        left: -5px;
        background-color: #fff;
        z-index: 8;
        border: 2px solid #282828;
        border-radius: 20px;
    }
    .search.search-block .search-form{
        border: none;
    }
    .search-form__input{
        position: relative;
        z-index: 10;
    }
    .search-block .search-mobile-close{
        display: block;
        position: relative;
        z-index: 10;
        margin-right: 10px;
        // transform: translateX(-40px);
    }
    .menu__list li{
        width: 95%;
    }
    .sub-box{
        width: 100%;
    }
    .menu__list li:first-child::after, 
    .menu__list li:last-child::after{
        right: 55%;
    }
    
}