.production__title {
    margin-bottom: 20px;
}
.production__text {
    margin-bottom: 40px;
    text-align: center;
}
.production-mobile__link,
.production-mobile__filter{
    display: none;
}
.production__search {
    position: relative;
    width: 300px;
    margin: -20px 0 0 auto;
    height: 40px;
    line-height: 34px;
}
.production__search::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: -40px;
    left: 14px;
    background: url('../images/product/search-catalog.svg') no-repeat;
}
.production__search-form{
    width: 300px;
    height: 40px;
    line-height: 34px;
    margin: -20px 0 0 auto;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    transform: translateY(-50px);
}
.production__search-form-iput {
    padding: 0 20px 0 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #b8b8b8;
    outline: none;
}
.filter-mobile-btn,
.filter-mobile-close{
    display: none;
}
.production__search-form-iput::placeholder{
    font-size: 20px;
    color: #b8b8b8;
}
.production-block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.production-filter {
    width: 25%;
}
.production-filter__box:first-child{
    padding-top: 15px;
    border-top: 2px solid #28859f;
}
.production-filter__box {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom:  2px solid #28859f;
}
.production-filter__item-title {
    margin-bottom: 10px;
    position: relative;
    font-family: 'Futurademi';
    cursor: pointer;
}
.production-filter__item-title::after{
    position: absolute;
    content: '';
    width: 18px;
    height: 11px;
    top: 5px;
    right: 0;
    background: url('../images/product/arrow-filter.svg') no-repeat;
    transition: all .4s ease-in;
}
.production-filter__item-title.open::after {
    transform: rotate(180deg);
    transition: all .4s ease-in;
}
.production-filter__item {
    display: none;
}
.production-filter__label {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.production-filter__input {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
}
.production-filter__label-text{
    margin-left: 10px;
}
.production-filter__label-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #28859f;
    border-radius: 3px;
}
.production-filter__input:checked + .production-filter__label-custom{
    background: url('../images/product/custom.png') no-repeat;
    background-position: center;
}
.aside-form{
    padding-top: 20px;
}
.filter-price__from,
.filter-price__to,
.aside-form__title{
    font-family: 'Futurademi';
}
.filter-price__label {
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.irs--flat .irs-line {
    top: 13px;
    height: 5px;
    background-color: #ececec;
    border: none;
}
.irs--flat .irs-handle {
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #28859f;  
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs--flat .irs-bar {
    top: 13px;
    height: 5px;
    background-color: #28859f;
}
.irs-from, .irs-to, .irs-single {
    display: none;
    
}
.irs--flat{
    width: 100%;
    height: 30px;
}
.irs--flat .irs-min, .irs--flat .irs-max {
    display: none;
}
.filter-price__label-pol{
    width: 100%;
    display: flex;
    justify-content: center;
}
.production-filter__btn {
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
}
.production-filter__button {
    width: 100%;
    height: 40px;
    line-height: 34px;
    border: 2px solid #28859f;
    border-radius: 20px;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    color: #28859f;
    font-family: 'Futurademi';
}
.production-filter__button:hover{
    background-color: #28859f;
    color: #fff;
}
.production-block__wrapper{
    width: 75%;
}
.production-block__card{
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.production-block__card .sellers-slider__item{
    height: auto;
}
.production-block__wrapper .reach-block{
    margin-left: 0;
}