.heading-slider__wrapper {
    min-height: calc(100vh - 90px);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading-slider__item {
    max-width: 550px;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading-slider__item-title {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: 'Futurademi';
    color: #fff;
}
.heading-slider__item-text {
    margin-bottom: 40px;
    color: #fff;
}
.heading-slider__item-btn {
    display: block;
    width: 360px;
    max-width: 100%;
    height: 40px;
    line-height: 36px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    font-family: 'Futurademi';
    color: #fff;
    text-align: center;
    font-size: 18px;
   
}
.heading-slider__item-btn:hover{
    background-color:  #28859f;
}
.heading-slider .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}
.heading-slider .slick-dots li button{
    padding: 0;
    font-size: 0;
    border: none;
    width: 85px;
    height: 2px;
    background-color: #fff;
}
.heading-slider .slick-dots li.slick-active button{
    background-color: #28859f;
}


//SELLERS
.sellers {
    padding-bottom: 100px;
}
.sellers__title {
    margin-bottom: 0;
}
.sellers-slider {
    margin-bottom: 50px;
}
.sellers-slider__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    // box-shadow: 0 4px 30px 0 rgba(136, 142, 171, 0.25);
    box-shadow: 0 2px 7px 0 rgba(40, 40, 40, 0.2);
    background: #fff;
}
.sellers-slider__item-logo {
    margin-bottom: 10px;
}
.sellers-slider__item-img {
    margin-bottom: 10px;
}
.sellers-slider__item-img img{
   object-fit: cover;
}
.sellers-slider__item-text {
    margin-bottom: 10px;
    font-size: 18px;
}
.sellers-slider__price {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Futurademi';
}
.sellers-slider__price-old {
    text-decoration: line-through;
    color: #888eab;
}
.sellers-slider__price-text{
    position: relative;
    margin-left: 5px;
    margin-top: -2px;
}
.sellers-slider__price-text::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    top: 4px;
    left: -6px;
    transform: rotate(20deg);
    background-color: #282828;
}
.sellers-slider__button {
    display: flex;
    gap: 10px;
    margin-top: auto;
}
.sellers-slider__button-cart {
    width: 100%;
}
.sellers-slider__button-compare {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 40px;
    line-height: 40px;
    border: 2px solid #28859f;
    font-size: 18px;
	font-family: 'Futurademi';
    border-radius: 20px;
    text-align: center;
	background: #28859f;
	color: #fff;
    border: none;
}
.sellers-slider__button-compare:hover{
    background: #014e64;
}
.sellers__btn{
    width: 360px;
    margin: 0 auto;
}
.sellers-slider .slick-dots,
.brand-slider .slick-dots,
.feedback-block-slider .slick-dots,
.news-block-slider .slick-dots{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.feedback-block-slider .slick-dots,
.news-block-slider .slick-dots{
    margin-bottom: 40px;
}
.sellers-slider .slick-dots li button,
.brand-slider .slick-dots li button,
.feedback-block-slider .slick-dots li button,
.news-block-slider .slick-dots li button{
    font-size: 0;
    padding: 0;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
}
.sellers-slider li.slick-active button,
.brand-slider li.slick-active button,
.feedback-block-slider li.slick-active button,
.news-block-slider li.slick-active button{
    background-color: #28859f;
}
.sellers-slider .slick-list{
    padding: 50px 0;
} 
.feedback-block-slider .slick-list,
.news-block-slider .slick-list{
    padding: 30px 0;
}
// одинаковая высота слайдов
.sellers-slider .slick-track,
.brand-slider .slick-track,
.feedback-block-slider .slick-track,
.news-block-slider .slick-track{
    display: flex;
}
.sellers-slider .slick-slide,
.brand-slider .slick-slide,
.feedback-block-slider .slick-slide,
.news-block-slider .slick-slide{
    height:auto;
    flex:0 0 auto;
}
.sellers-slider .slick-slide > div,
.sellers-slider__wrapper,
.sellers-slider__item,
.brand-slider .slick-slide > div,
.brand-slider__item,
.brand-slider__item-img,
.feedback-block-slider .slick-slide > div,
.news-block-slider .slick-slide > div,
.feedback-block-slider .feedback-block__wrapper,
.feedback-block-slider .feedback-block__item,
.news-block-slider .news-block__inner,
.news-block-slider .news-block__item{
    height: 100%;
}
// одинаковая высота слайдов




//BRAND
.brand {
    padding-bottom: 100px;
}
.brand-slider__item-img img{
    margin: 0 auto;
}
.brand-slider .slick-prev,
.brand-slider .slick-next {
    padding: 0;
    font-size: 0;
    border: none;
    width: 14px;
    height: 22px;
    position: absolute;
    top: 25%;
    z-index: 2;
}
.brand-slider .slick-prev{
    background: url('../images/home/arrow-brand-left.svg') no-repeat;
    left: 0;
}
.brand-slider .slick-next{
    background: url('../images/home/arrow-brand-right.svg') no-repeat;
    right: 0;
}
.brand-slider .slick-dots{
    margin-top: 50px;
}



//SCITION
.scition {
    padding: 50px 0;
    background: url('../images/home/skiton-bg.png') no-repeat;
    background-size: cover;
}
.scition-slider__item {
    display: flex;
    gap: 40px;
}
.scition-slider__left {
    width: 50%;
}
.scition-slider__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.scition-slider__top-link{
    margin-left: 60px;
    font-size: 24px;
    color: #fff;
}
.scition-slider__left-logo {
    margin-left: auto;
}
.scition-slider__right {
    width: 50%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content:space-between;
}
.scition-slider__elem {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 30px);
}
.scition-slider__elem-img {
    margin-bottom: 10px;
}
.scition-slider__elem-img img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}
.scition-slider__elem-text {
    margin-bottom: 10px;
    color: #fff;
}
.scition-slider__info {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Futurademi';
    color: #fff;
}
.scition-slider__price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.scition-slider__price-old {
    text-decoration: line-through;
}
.scition-slider__price-text {
    margin-top: -3px;
    margin-left: 10px;
    position: relative;
}
.scition-slider__price-text::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 20px;
    top: 2px;
    left: -10px;
    background-color: #fff;
    transform: rotate(20deg);
}
.scition-slider__info-more {
    width: 100px;
    height: 40px;
    line-height: 34px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 18px;
    background-color: transparent;
}
.scition-slider__info-more:hover{
    background-color: #014e64;
}
.scition-slider .slick-prev,
.scition-slider .slick-next{
    font-size: 0;
    padding: 0;
    border: none;
    position: absolute;
    width: 14px;
    height: 22px;
    top: 50%;
    z-index: 1;
}
.scition-slider .slick-prev{
    background: url('../images/home/arrow-sciton-left.svg') no-repeat;
    left: 0;
}
.scition-slider .slick-next{
    background: url('../images/home/arrow-sciton-right.svg') no-repeat;
    right: 0;
}
.slider__counter{
    position: absolute;
    top: 18px;
    color: #fff;
}
